#searchbar ::placeholder {
    padding-left: 25px !important;
}

@media only screen and (max-width: 914px) {
    #topSearchbar {
        width: 400px !important;
        position: relative;
        left: 80px;
    }

    #searchIcon {
        position: relative;
        z-index: 1;
        left: 107px;
    }

}


@media screen and (max-width: 720px) {
    #topNavBar, .logoutButton {
        position: relative;
        scale: 0%;
    }

}


#searchbar #searchIcon {
    position: relative !important;
    top: 10px !important;
    z-index: 200;
}